.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin-bottom: 6em;
}

.about-text {
    font-size: 1.2em;
    text-align: left;
    width: 30%;
    margin-left: 5%;
}

.about-text a {
    color: var(--secondary);
    text-decoration: none;
}

.about-text a:hover {
    color: var(--primary);
}

.about-skills {
    width: 20%;
    text-align: left;
    border: 2px solid var(--primary);
    padding: 5%;
    margin-left: 3%;
    font-size: 1.5em;
    font-family: var(--body-text);
}

.about-skills li, .about-text li {
    list-style: none;
    font-family: var(--body-text);
}

.about-image {
    width: 30%;
    height: 100%;
    background-size: cover;
    background-position: center center;

}

.about-image img {
    width: 100%;
}

/* RESPOSNIVE */

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
    
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
    
}

/* TABLET LANDSCAPE // DESKTOP */
@media only screen and (min-width: 1024px) {
    
}