.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 6em;
}

.about-text {
    font-size: 1.2em;
    text-align: left;
    width: 30%;
    margin-left: 5%;
}

.about-text a {
    color: var(--secondary);
    text-decoration: none;
}

.about-text a:hover {
    color: var(--primary);
}

.about-skills {
    width: 17%;
    text-align: left;
    border: 2px solid var(--primary);
    padding: 5% 0 5% 5%;
    margin-left: 3%;
    font-size: 1.5em;
    font-family: var(--body-text);
}

.about-skills li, .about-text li {
    list-style: none;
}

.about-image {
    width: 30%;
    height: 100%;
}

.about-image img {
    width: 100%;
}