.nav {
    margin-bottom: 3em;
    width: 100%;
}

.nav > li {
    list-style: none;
    display: inline;
    font-size: 1.5em;
}

.link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 1em 1.5em;
}

.link:visited {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    background-color: var(--primary);
}

.link-active {
    text-decoration: underline;
}

